.card-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
  margin: 10px 0; 
  border-radius: 8px;
  box-shadow: 0px 6px 15px rgb(214, 5, 5 ,0.1); 
  background-color: #fff;
  width: 80%; 
  max-width: 800px; 
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px); 
  
}

.card-image {
  width: 60px; 
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 20px; 
  font-weight: bold;
}

.card-description {
  color: gray;
  font-size: 16px; 
}

.card-actions {
  display: flex;
  gap: 15px; 
}

.card-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px; 
  color: gray;
}

.card-icon-button:hover {
  color:rgb(214, 5, 5);
}
