.Footer {
    background: rgb(214, 5, 5); 
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: calc(100% - 270px); 
    bottom: 0;
    width:100%;
    left: 0px; 
    z-index: 1000; 
  }
  