.Footer {
    background: rgb(214, 5, 5); /* Dark background for footer */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: calc(100% - 270px); /* Adjust width to fit sidebar */
    bottom: 0;
    width:100%;
    left: 0px; /* Position it to the right of the sidebar */
    z-index: 1000; /* Ensure it sits on top of other elements */
  }
  