.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(214, 5, 5); 
    color: #fff;
    position: fixed;
    width: calc(100% - 270px); 
    top: 0;
    width:100%;
    left: 0px; 
    z-index: 1000; 
    height:120px;
}
  
  .search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .auth-buttons button {
    margin-left: 10px;
    background: #f4f4f4;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .auth-buttons button:hover {
    background: #ddd;
  }
  