.App {
  display: flex;
  flex-direction: column; 
  height: 100vh;
}

.main-content {
  display: flex;
  margin-top: 150px; 
  height: calc(100vh - 50px); 
}

.Sidebar {
  width: 270px;
  background: #f4f4f4; 
}

.Dashboard {
  flex-grow: 1;
  padding: 20px;
}
